body {
    font-family: IBMPlexMono, monospace;
    font-size: 1rem;
    background-color: #2d3748;
    color: white;
}

.navigation {
    display: flex;
    background-color: mediumpurple;
    color: white;
    justify-content: flex-start;
    flex-direction: row;
    padding: 0 16px;
    margin-bottom: 16px;
}

.navigation__item {
    padding: 4px;
    border: 1px solid rebeccapurple;
    margin: 0 16px;
}

.navigation__item--active {
    background: rebeccapurple;

}

.content {
    margin: 0 16px;
}

button {
    background-color: deeppink;
    color: white;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 8px;
}
