body {
    font-family: IBMPlexMono, monospace;
    font-size: 1rem;
    background-color: #2d3748;
    color: #a0aec0;
}

.navigation {
    display: flex;
    background-color: mediumpurple;
    color: #a0aec0;
    justify-content: flex-start;
    flex-direction: row;
    padding: 0 16px;
    margin-bottom: 16px;
}

.navigation__item {
    padding: 4px;
    border: 1px solid rebeccapurple;
    margin: 0 16px;
}

.navigation__item--active {
    background: rebeccapurple;

}


.form {
}

.content {
    margin: 0 16px;
}

.form__save {
    display: flex;
    width: 100%;
    justify-content: right;
}

input, select, textarea {
    width: 100%;
    border: 1px solid deeppink;
    border-radius: 8px;
    padding: 4px;
}

button {
    background-color: deeppink;
    color: white;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 8px;
}
